@model Ezel_Market.Models.Inventario

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h1>Detalles del producto</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.NombreProducto</dd>

        <dt class="col-sm-3">Categoría</dt>
        <dd class="col-sm-9">@Model.Categoria</dd>

        <dt class="col-sm-3">Cantidad</dt>
        <dd class="col-sm-9">@Model.Cantidad</dd>

        <dt class="col-sm-3">Precio Compra</dt>
        <dd class="col-sm-9">@Model.PrecioCompra</dd>

        <dt class="col-sm-3">Precio Venta Minorista</dt>
        <dd class="col-sm-9">@Model.PrecioVentaMinorista</dd>

        <dt class="col-sm-3">Precio Venta Mayorista</dt>
        <dd class="col-sm-9">@Model.PrecioVentaMayorista</dd>

        <dt class="col-sm-3">Fecha Ingreso</dt>
        <dd class="col-sm-9">@Model.FechaIngreso.ToShortDateString()</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
